body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1946E6;
}

.cabecalho__imagem{

    width: 130px; ;
height: 137px; ;
*{
    margin: 0%;
    padding: 0%;
    }

border-radius: 100px;
}

.cabecalho__titulo, .cabecalho__menu{
    font-size: 32px;
    color:white ;
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: black;

    display: inline;
}
.cabecalho__menu-item{

    display: inline;
    margin: 0px 0px 0px 20px;
}

.escola{
   
        margin: 20px;
        padding: 20px;
        background-color: rgb(249, 170, 1);
        display: flex;
        justify-content: center;
        align-items: center;
    
}

.escola__imagem{
    display:flex;
    justify-content:aroun; 
    margin: 20px;
    width: 300px;
    height: auto;
}
.escola__titulo{

    text-align: center;
}
.escola__paragrafo{
    text-align: justify;
}


    .professores{
        display: grid;
    grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows: auto auto auto auto;
        background-color: #7a7a7a;
       border-radius: 40px;
    margin: 20px;
    justify-items: center;
    gap: 20px
    }
    .professores__div {
        text-align: center;
        }
        
        .professores__div-imagem{
        width: 120px;
        height: auto;
        
        }
